# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/trackbot?schema=public"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# Security
JWT_SECRET="mude_isso_em_producao_pelo_amor_de_deus_123456"

# CORS
CORS_ORIGIN="http://localhost:3001"

# Meta (WhatsApp Cloud API)
META_APP_SECRET=""
META_ACCESS_TOKEN=""
